In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [2]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

In [3]:
df = pd.read_csv('heart.csv')

In [4]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
df.shape

(303, 14)

In [7]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
df['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [9]:
X = df.drop(columns='target',axis=1)
y = df['target']

In [10]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [11]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [12]:
X_train, X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,stratify = y, random_state = 3)

In [13]:
print(X_train.shape,X_test.shape,X.shape)

(242, 13) (61, 13) (303, 13)

In [14]:
print(y_train.shape,y_test.shape,y.shape)

(242,) (61,) (303,)

In [15]:
#List of models

models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [16]:
def compare_model():

  for model in models :
    model.fit(X_train,y_train)
    test_data_prediction = model.predict(X_test)
    accuracy = accuracy_score(y_test,test_data_prediction)
    print('Accuracy score of the ',model,' = ',accuracy*100,'%')

In [17]:
compare_model()

Accuracy score of the  LogisticRegression(max_iter=1000)  =  77.04918032786885 %
Accuracy score of the  SVC(kernel='linear')  =  77.04918032786885 %
Accuracy score of the  KNeighborsClassifier()  =  65.57377049180327 %
Accuracy score of the  RandomForestClassifier()  =  77.04918032786885 %

Cross Validation

In [18]:
cv_score_lr = cross_val_score(LogisticRegression(max_iter=1000),X,y,cv=5)

print(cv_score_lr)

mean_accuracy_lr = sum(cv_score_lr)/len(cv_score_lr)
mean_accuracy_lr = round(mean_accuracy_lr,2)

print(mean_accuracy_lr)

[0.80327869 0.8852459  0.85245902 0.86666667 0.75      ]
0.83

In [19]:
cv_score_svm = cross_val_score(SVC(kernel='linear'),X,y,cv=5)

print(cv_score_svm)

mean_accuracy_svm = sum(cv_score_svm)/len(cv_score_svm)
mean_accuracy_svm = round(mean_accuracy_svm,2)

print(mean_accuracy_svm)

[0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
0.83

In [20]:
cv_score_knn = cross_val_score(KNeighborsClassifier(),X,y,cv=5)

print(cv_score_knn)

mean_accuracy_knn = sum(cv_score_knn)/len(cv_score_knn)
mean_accuracy_knn = round(mean_accuracy_knn,2)

print(mean_accuracy_knn)

[0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
0.64

In [21]:
cv_score_rf = cross_val_score(RandomForestClassifier(),X,y,cv=5)

print(cv_score_rf)

mean_accuracy_rf = sum(cv_score_rf)/len(cv_score_rf)
mean_accuracy_rf = round(mean_accuracy_rf,2)

print(mean_accuracy_rf)

[0.83606557 0.90163934 0.81967213 0.78333333 0.75      ]
0.82

In [23]:
def compare_model_cv():

  for model in models :
    cv_score = cross_val_score(model,X,y,cv=5)
    mean_accuracy = sum(cv_score)/len(cv_score)
    mean_accuracy = round(mean_accuracy,2)

    print('Cross validation of the ',model,' = ',cv_score)
    print('Accuracy score of the ',model,' = ',mean_accuracy*100,'%')

In [24]:
compare_model_cv()

Cross validation of the  LogisticRegression(max_iter=1000)  =  [0.80327869 0.8852459  0.85245902 0.86666667 0.75      ]
Accuracy score of the  LogisticRegression(max_iter=1000)  =  83.0 %
Cross validation of the  SVC(kernel='linear')  =  [0.81967213 0.8852459  0.80327869 0.86666667 0.76666667]
Accuracy score of the  SVC(kernel='linear')  =  83.0 %
Cross validation of the  KNeighborsClassifier()  =  [0.60655738 0.6557377  0.57377049 0.73333333 0.65      ]
Accuracy score of the  KNeighborsClassifier()  =  64.0 %
Cross validation of the  RandomForestClassifier()  =  [0.81967213 0.86885246 0.7704918  0.78333333 0.8       ]
Accuracy score of the  RandomForestClassifier()  =  81.0 %